.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 88px;
  height: 100%;
  padding: 24px 0;
  background-color: theme(colors.neutral.98);

  .searchBtn {
    display: inline-block;
    padding: 16px;
    background: theme(colors.secondary.90);
    border-radius: 12px;
  }

  nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;

    a {
      color: theme(colors.neutral.5);
      font-size: 12px;

      .icon {
        width: 60px;
        padding: 6px 0;
        border-radius: 16px;

        svg {
          margin: 0 auto;
          transition: all 0.2s ease-in;
        }
      }
      &:hover {
        .icon {
          background-color: theme(colors.neutral.95);
          svg {
            transform: scale(1.1);
          }
        }
      }
      &.active {
        .icon {
          background-color: theme(colors.neutral-variant.90);
        }
      }

      .title {
        margin-top: 4px;
        text-align: center;
        line-height: 1.5;
      }
    }
  }
}

@media (max-width: 768px) {
  .header {
    padding: 0 24px;
  }
}
