.container {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: auto;
  background-color: #fff;
  header + div {
    display: flex;
    flex-direction: column;
    width: 100%;
    flex: 1;
    padding-left: 88px;
  }
  main {
    flex: 1;
  }
}

.cover {
  margin: 24px 40px;
  padding: 24px 32px;
  color: theme(colors.neutral.0);
  background: theme(colors.secondary.95);
  border-radius: 28px;
}

.banner h1 {
  font-size: 32px;
}

.banner p {
  font-size: 24px;
}

@media (max-width: 768px) {
  .banner {
    height: 480px;
    background-position: 60% 56%;
    padding: 80px 24px;
  }
  .banner h1 {
    font-size: 24px;
  }
  .banner p {
    font-size: 20px;
  }
}
