.container {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #fff;
  header + div {
    display: flex;
    flex-direction: column;
    width: 100%;
    flex: 1;
    padding-left: 88px;
  }
  main {
    flex: 1;
  }
}

.cover {
  margin: 24px 40px;
  padding: 24px 32px;
  color: theme(colors.neutral.0);
  background: theme(colors.secondary.95);
  border-radius: 28px;
  & *:last-child {
    margin-bottom: 0;
  }
}

@media (max-width: 768px) {
  .container {
    header + div {
      padding-left: 0px;
      padding-top: 66px;
    }
  }
  .cover {
    margin: 24px;
  }
}
