.search-menus {
  padding: 24px 0;
  .menu-item {
    display: block;
    padding: 16px 24px;
    font-size: 18px;
    color: theme("colors.neutral.50");
    border-radius: 20px;
  }
  .menu-item:hover {
    background-color: theme("colors.secondary.95");
  }
}

.search-box {
  width: 100%;
  background: transparent;
}

.search-box :global(.ais-SearchBox) {
  width: 100%;
  height: 52px;
  border-radius: 28px;
  border: 2px solid theme("colors.neutral.0");
}
.search-box :global(.ais-SearchBox .ais-SearchBox-form) {
  height: 100%;
  display: flex;
  justify-content: center;
}
.search-box :global(.ais-SearchBox) input {
  flex: 1;
  padding: 0 24px;
  border: none;
  outline: none;
  background-color: transparent;
  -webkit-appearance: none;
}

.search-box :global(.ais-SearchBox) input::-webkit-search-cancel-button {
  display: none;
}
.search-box
  :where(:global(.ais-SearchBox-submit), :global(.ais-SearchBox-reset)) {
  transform: scale(2);
  padding-right: 16px;
}

.search-box :global(.ais-SearchBox-loadingIndicator) {
  align-self: center;
  padding-right: 16px;
}
.search-box
  :where(
    :global(.ais-SearchBox-submit),
    :global(.ais-SearchBox-reset),
    :global(.ais-SearchBox-loadingIndicator)
  )
  svg {
  fill: theme("colors.neutral.50");
}
